<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Home</title>
  </head>
  <body>
    <h1>Members Only Homepage</h1>
    <% if (currentUser) { %>
      <form action="/logout" method="post"><button type="submit">Logout</button></form>
    <% } else { %>
      <a href="/signup">Sign Up</a>&nbsp;<a href="/login">Login</a>
    <% } %>
    
    <section>
      <% messages.forEach(message => { %>
        <section>
          <h2><%= message.title %></h2>
          <p><%= message.content %></p>
          <span>
            <% if (currentUser) { %>
              <p><%= message.first_name %>&nbsp;<%= message.last_name%></p>
            <% } else { %>
              <p>Anonymous</p>
              <p><%= message.created_at%></p>
            <% } %>
          </span>
        </section>
      <% }); %>
    </section>
  </body>
</html>
