<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Home</title>
  </head>
  <body>
    <h1>Members Only Homepage</h1>
    <% if (currentUser) { %>
      <a href="/messages/new">Create Message</a>
      <% if (!currentUser.is_member && !currentUser.is_admin) { %>
        <a href="/join">Join the Club</a>
      <% } %>
      <form action="/logout" method="post"><button type="submit">Logout</button></form>
    <% } else { %>
      <a href="/signup">Sign Up</a>&nbsp;<a href="/login">Login</a>
    <% } %>
    
    <section>
      <% messages.forEach(message => { %>
        <section>
          <h2><%= message.title %></h2>
          <p><%= message.content %></p>
          <span>
            <% if (currentUser && (currentUser.is_member || currentUser.is_admin)) { %>
              <p><%= message.first_name %>&nbsp;<%= message.last_name%>&ensp;<%= message.created_at%></p>
            <% } else { %>
              <p>
                <%= message.first_name[0] %><%= '*'.repeat(message.first_name.length - 1) %>
                &nbsp;
                <%= message.last_name[0] %><%= '*'.repeat(message.last_name.length - 1) %>
              </p>
            <% } %>
          </span>
        </section>
      <% }); %>
    </section>
  </body>
</html>
